@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {

    /* box-sizing: border-box; */
    font-family: "Lato", sans-serif;
}

body {
    margin: 20px;
    padding: 20;
}

::selection {
    background-color: #3ed8ff;
    color: white;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}

.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    padding: 20px 40px;
    background: linear-gradient(to top left, #ffffffff, #ffffff70);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 3px 3px 6px #2773a5;
    z-index: 2;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p {
    color: #555;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    transition: -.3s;
}

.signup-body p input[type="submit"]:hover {
    background-color: #2773a5;
}

.signup-footer p {
    color: #555;
    text-align: center;
}

.signup-footer p a {
    color: #2773a5;
    text-decoration: none;
}

.signup-footer p a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    position: absolute;
}

.c1 {
    top: 100px;
    left: 40px;
}

.c2 {
    bottom: 200px;
    right: 50px;
}

.error {
    color: red;
}